<div style="text-align: center;" >
    <h1>¡Bienvenido!</h1>
    <img width="500" src="assets/img/homeImage.png">
    <br>
    <br>
     <h2>Medicina Especializada VICKER</h2>
     <app-trm></app-trm>
  <br>
  <br>
  <h3 style="text-align: center;">Especializaciones</h3>
  <app-trm></app-trm>
  <br>
  <br>
  <div class="card-columns ">
    <div class="card" style="width: 25rem;">
        <img class="card-img-top"  width="100" src="assets/img/cardiologia.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cardiología</h5>
          <p class="card-text">La Cardiología es una subespecialidad médica de la Medicina Interna que se ocupa del estudio, diagnóstico y tratamiento de las afecciones del corazón y el aparato circulatorio.</p>
          <button (click)="crearCita()" class="btn btn-primary">Agendar cita</button>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img class="card-img-top"  width="100" src="assets/img/cirujia_general.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cirugía General</h5>
          <p class="card-text">Cubre las áreas principales de tratamientos quirúrgicos. Los cirujanos generales tratan las enfermedades del abdomen, la mama, la cabeza y el cuello, los vasos sanguíneos y el aparato digestivo.</p>
          <a routerLink="cita/crear" class="btn btn-primary">Agendar cita</a>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img class="card-img-top"  width="100" src="assets/img/dermatologia.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dermatología</h5>
          <p class="card-text">La dermatología es aquella especialidad médica destinada al estudio, conocimiento, diagnóstico y tratamiento de todas aquellas patologías o afecciones de la piel, el órgano más extenso del cuerpo.</p>
          <a href="#" class="btn btn-primary">Agendar cita</a>
        </div>
      </div>

      <div class="card" style="width: 25rem;">
        <img class="card-img-top"  width="100" src="assets/img/optometria.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Optometría</h5>
          <p class="card-text">La optometría es la ciencia sanitaria que estudia el sistema visual, sus alteraciones no patológicas y su solución, así como las normas de salud e higiene visual.</p>
          <a href="#" class="btn btn-primary">Agendar cita</a>
        </div>
      </div>

      <div class="card" style="width: 25rem;">
        <img class="card-img-top"  width="100" src="assets/img/prueba_covid.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Prueba Covid</h5>
          <p class="card-text">Existen 3 tipos de pruebas para detección de Covid que son: PCR, test rápido o de Antígenos y Serológica.</p>
          <a href="#" class="btn btn-primary">Agendar cita</a>
        </div>
      </div>
    </div>
  </div>