<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Id usuario</th>
            <th scope="col">Especialidad</th>
            <th scope="col">fechaCita</th>
            <th scope="col">Medico</th>
            <th scope="col">Valor TRM</th>
            <th scope="col">Moneda</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr id="listaCitas" *ngFor="let cita of listaCitas;">
            <td>{{ cita.id  }}</td>
            <td>{{ cita.idUsuario  }}</td>
            <td>{{ cita.idEspecialidad | number }}</td>
            <td>{{ cita.fechaCita}}</td>
            <td>{{ cita.idMedico | number }}</td>
            <td>{{ cita.valorTRM | number }}</td>
            <td>{{ cita.tipoMoneda }}</td>
            <td>
                <button class="btn btn-primary" type="button" routerLink="/cita/crear/{{cita.id}}">edit</button>
                <button class="btn btn-danger" type="button" (click)="eliminarCita(cita.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>