<form class="text-center border border-light p-5" [formGroup]="citaForm" >
  <p class="h4 mb-4">Agende su cita</p>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="idUsuario">Identificación del usuario</label>
      <input validar type="number" id="idUsuario" name="idUsuario" class="form-control" placeholder="Identificación"
      formControlName="idUsuario" >
    </div>
    <div class="form-group col-md-6">
      <label for="fechaCita">Fecha cita</label>
      <input type="datetime-local"  id="fechaCita" name="fechaCita" class="form-control" placeholder="Password"
      formControlName="fechaCita" >
    </div>
  </div>

  <div class="form-row">
    
    <div class="form-group col-md-6">
      <label class="form-label">Especialidades</label>
      <div class="dropdown">
        <select class="custom-select mr-sm-4"  id="idEspecialidad" name="idEspecialidad" 
        formControlName="idEspecialidad">
          <option value="default">----</option>
          <option [value]="especialidad.id" *ngFor="let especialidad of especialidades">
            {{especialidad.nombreEspecialidad}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="form-label">Tipo moenda</label>
      <div class="dropdown">
        <select class="custom-select mr-sm-4" id="tipoMoneda" name="tipoMoneda" formControlName="tipoMoneda">
          <option value="default">----</option>
          <option [value]="moneda.tipo" *ngFor="let moneda of monedas">
            {{moneda.nombreCompleto}}
          </option>
        </select>
      </div>
    </div>
  </div>


  <div class="form-group col-md-6">
    <label class="form-label">Médico Especialista</label>
    <div class="dropdown">
      <select class="custom-select mr-sm-4" id="idMedico" name="idMedico" formControlName="idMedico">
        <option value="default">----</option>
        <option [value]="medico.id" *ngFor="let medico of medicos">
          {{medico.nombre}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <button type="submit" (click)="guardarCita()" class="btn btn-success">Guardar</button>
    </div>
    <div class="form-group col-md-4">
      <button  class="btn btn-warning" (click)="eliminarCita()">Eliminar</button>
    </div>
    <div class="form-group col-md-4">
      <button  class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </div> 
 </form>
